:root {
  /* light mode */
  --light-blue: #0079ff;
  --light-gray: #697c9a;
  --light-blue-gray: #4b6a9b;
  --light-dark-gray-blue: #2b3442;
  --background-color: #f6f8ff;
  --bg-light-white: #fefefe;

  /* dark mode */
  --dark-blue: #0079ff;
  --dark-gray: #1e2a47;
  --dark-black-gray: #141d2f;
  --dark-white: #ffffff;

  /* typography */
  --space-mono: "Space Mono", monospace;
}

/* reset */

body,
h1,
h2,
h3,
h4,
p,
li,
span,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* theme */

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #141d2f;
    --text-color: white;
    --bg-light-white: #1e2a47;
    --light-gray-white: #141d2f;
  }

  html {
    color-scheme: dark;
  }
}

/* structure */

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--space-mono);
}

.container {
  width: 730px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.container > div {
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  background-color: var(--bg-light-white);
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  padding: 1.5em;
  column-gap: 1em;
}

.profile-card {
  background-color: var(--bg-light-white);
}

/* header */

/* search box */

.magnifier {
  justify-self: center;
  align-self: center;
}

.switch-container {
  cursor: pointer;
}

.search-box input {
  border: none;
  font-size: 18px;
  color: var(--light-blue-gray);
  cursor: pointer;
}

.search-box input::placeholder {
  font-size: 18px;
  color: var(--light-blue-gray);
}

.search-box button {
  background-color: var(--light-blue);
  border: none;
  padding: 1em 2em;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #60abff;
}

/* profile-card */

.profile-card {
  display: grid;
  grid-template-columns: 2fr 4fr;
  padding: 3em;
}

.profile-column {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.basic-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.name {
  font-size: 26px;
}

.handle {
  color: var(--light-blue);
}

.date {
  color: var(--light-blue-gray);
}

.bio-description {
  color: var(--light-blue-gray);
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--light-gray-white);
  padding: 0.5em 2em;
  border-radius: 10px;
}

.stats span {
  font-weight: bold;
  font-size: 13px;
}

.stats {
  font-size: 22px;
  font-weight: bold;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.social-media .value {
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 75%;
  }
  .profile-card {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    justify-content: space-around;
  }
  .search-box {
    gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .search-box button {
    font-size: 14px;
    padding: 2em 2em;
  }

  .profile-card {
    grid-template-columns: 1fr;
  }
  .social-media {
    grid-template-columns: 1fr;
  }
  .profile-card {
    padding: 1.5em;
  }
  .basic-info {
    flex-direction: column;
  }
  .stats span {
    font-size: 10px;
  }
  .stats p {
    font-size: 14px;
  }
}
