/* theme */

:root {
  --background-color: #f6f8ff;
  --text-color: black;
  --container-boxes: #fefefe;
  --accent: #0079ff;
  --light-gray: #697c9a;
  --light-dark-gray-blue: #2b3442;
  --content-text: #141d2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #141d2f;
    --text-color: white;
    --container-boxes: #1e2a47;
    --accent: #0079ff;
    --content-text: #fefefe;
  }
}

:root {
  /* typography */
  --space-mono: "Space Mono", monospace;
}

/* reset */

body,
h1,
h2,
h3,
h4,
p,
li,
span,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* structure */

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  color: var(--text-color);
  align-items: center;
  height: 100vh;
  font-family: var(--space-mono);
}

.container {
  width: 730px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.container > div {
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  background-color: var(--container-boxes);
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  padding: 1.5em;
  column-gap: 1em;
}

.profile-card {
  background-color: var(--container-boxes);
}

/* header */

header h1 {
  color: var(--text-color);
}

/* search box */

.magnifier {
  justify-self: center;
  align-self: center;
}

.switch-container {
  cursor: pointer;
}

.search-box input {
  border: none;
  font-size: 18px;
  color: var(--light-blue-gray);
  cursor: pointer;
  background-color: transparent;
}

.search-box input::placeholder {
  font-size: 18px;
  color: var(--text-color);
}

.search-box button {
  background-color: var(--accent);
  border: none;
  padding: 1em 2em;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #60abff;
}

/* profile-card */

.profile-card {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding: 3em;
  gap: 2em;
}

.avatar {
  width: 100%;
  border-radius: 50%;
}

.profile-column {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.basic-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.name {
  font-size: 26px;
  color: var(--text-color);
}

.handle {
  color: var(--accent);
}

.date {
  color: var(--light-blue-gray);
  color: var(--text-color);
}

.bio-description {
  color: var(--content-text);
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--background-color);
  padding: 0.5em 2em;
  border-radius: 10px;
}

.stats span {
  font-weight: bold;
  font-size: 13px;
  color: var(--text-color);
}

.stats {
  font-size: 22px;
  font-weight: bold;
  color: var(--text-color);
}

.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.social-media .value {
  font-size: 13px;
  color: var(--text-color);
}

@media screen and (max-width: 1000px) {
  .container {
    width: 80%;
  }
  .profile-card {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
  .profile-card {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    justify-content: space-around;
  }
  .search-box {
    gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .search-box button {
    font-size: 12px;
    padding: 1.5em 0.8em;
  }

  .profile-card {
    grid-template-columns: 1fr;
  }
  .social-media {
    grid-template-columns: 1fr;
  }
  .profile-card {
    padding: 1.5em;
  }
  .basic-info {
    flex-direction: column;
  }
  .stats span {
    font-size: 10px;
  }
  .stats p {
    font-size: 14px;
  }
}

/* theme */

.switch {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--light-blue-gray);
}

.hidden {
  display: none;
}

.switch-light {
  color: white;
}

/* Light Mode Styles
.light-mode {
  --text-color: var(--dark-gray);
  --bg-color: var(--bg-light-white);
  /* ... other light mode styles ... */
/* } */

/* Dark Mode Styles */
/* .dark-mode {
  --text-color: var(--dark-white);
  --bg-color: var(--dark-black-gray); */
/* ... other dark mode styles ... */
/* } */

/* Shared Styles */
/* body {
  color: var(--text-color);
  background-color: var(--bg-color); */
/* ... other shared styles ... */
/* } */

/* Shared switch styles */
.switch-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--light-blue-gray);
  transition: color 0.3s;
}

.switch-container:hover {
  color: var(--light-blue);
}

/* Dark mode switch */
.dark-mode-switch {
  color: var(--dark-blue);
}

/* Light mode switch */
.light-mode-switch {
  color: var(--light-blue-gray);
}
